h1 {
    -webkit-margin-before: 15px;
    -webkit-margin-after: 15px;
    font-family: system-ui, sans-serif;
    margin-bottom: auto;

    font-weight: bold;
    color: rgb(19, 65, 111);
}

li {
    margin: 2%;
    width: 96%;
    -webkit-margin-before: 10px;
    -webkit-margin-after: 10px;
    text-align: left;
}

.idiomas {
    -webkit-margin-before: 15px;
    -webkit-margin-after: 15px;
    color: rgb(19, 65, 111);
    text-align: left;
}

summary {
    font-weight: bold;
    font-size: x-large;
    color: rgb(19, 65, 111);


}

.tipos {
    color: rgb(19, 65, 111);
    margin: auto;
    width: 98%;
    font-weight: bold;
    font-size: large;
}

h2 {
    -webkit-margin-before: 15px;
    -webkit-margin-after: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgb(19, 65, 111);

}

p {
    -webkit-margin-before: 10px;
    -webkit-margin-after: 10px;
}

.text {
    margin: auto;

}

.margem {
    margin: auto;
    width: 98%;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: #ffffff;
}

/* Estilo da barra de menu */
.menu {
    background-color: #3c94bc;
}

/* Estilo dos links no menu */
.menu a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

/* Estilo ao passar o mouse sobre os links */
.menu a:hover {
    background-color: rgb(50, 99, 149);
    color: rgb(255, 255, 255);
}


.centralizado {
    text-align: center;
}

.conteudo {
    margin-top: 10px;
    margin: 20px;
}