body 
{
    font-family: Arial, sans-serif;
    margin: 0;
    border-image-width: auto;
    background-image: url(capa.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: rgb(255, 228, 178);
   background-size: 100%;
}
 

 /* Estilo da barra de menu */
     .menu 
    {
        
        text-align:center;
        
    }
    .menu button
    {
        
        position:absolute;
                padding: 14px 20px;
        top:40%;
        left:50%;
        width:180px;               /* largura para o botão */
        height:auto;              /* altura para o botão */
        
        margin:-15px 0 0 -90px;   /* margem à esquerda e ao topo metade da medida do botão */
        border:0 none;
        background-color: rgb(255, 166, 0);
        font-family:Verdana, Geneva, Tahoma, sans-serif ;
        font-weight: bold;
        font-size: large;
        
    }
      

        /* Estilo dos links no menu */
        .menu a {
            color: white;
    
            text-decoration: none;
            display: inline-block;
        }

        /* Estilo ao passar o mouse sobre os links */
        .menu a:hover {
            background-color: white;
            color: black;
        }

        
 